<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>About</h3>
            <hr>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            <h2>Our History</h2>
            <p>Started in 2016, Invitations App looks forward to be the most successful application related to events management, with features related not only to the invitations system, how to organize the events, plan all the tasks involved to each event
                separatedly and estimate the the costs for any specific event based on the quantities of guests.</p>
            <p>Moreover, with continued use, the users can establish an average line of costs and plans based on same types of events</p>
            <div class="well">
                <blockquote>
                    <p>This web site has helped me to improve the quality of services I often provide to my customers, enabling me to put all details of my events in one single place.</p>
                    <footer>João Tavares,
                        <cite title="Source Title">IT technician at MPDFT, Brazil</cite></footer>
                </blockquote>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Facts At a Glance</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Started</dt>
                        <dd>28 Nov. 2016</dd>
                        <dt>Major Stake Holder</dt>
                        <dd>MPDFT</dd>
                        <dt>Guests on last event</dt>
                        <dd>400</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <h2>Corporate Leadership</h2>
            <ul class="media-list">
              <li class="media">
                  <div class="media-left media-middle">
                      <img class="media-object img-thumbnail" src="images/joao.jpg" height="70" width="70">
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">João Tavares <small>IT technician at MPDFT</small></h2>
                    <p>Since 1999 performing different IT roles, ranging from Tech Support to Web developer for the Alternative Ways to Prison Department at MPDFT (current).
                      Owns a Bachelors degree in computing science at Universidade de Brasília.
                      As a good brazilian, loves soccer and Feijoada.
                    </p>
                  </div>
              </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>
</div>
