<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Manage your Events</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left media-middle">
                        <a><span class="glyphicon glyphicon-list-alt gi-5x" aria-hidden="true"></span></a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">Create new Events and check those already created!</h2>
                        <p>You can easily create, update and delete events, and check how many people/organizations have confirmed presence as well.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>Manage your Contacts</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Insert guests' information with ease</h2>
                        <p>Are you trying to invite friends for a party? Or calling an entreprise's representative to a business event? No problem.
                          InvitationsApp supports different types of guests.
                        </p>
                    </div>
                    <div class="media-right media-middle">
                      <a><i class="fa fa-users gi-5x"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Invite them All!</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left media-middle">
                      <img class="media-object img-thumbnail" src="images/event.jpg" height="130" width="130">
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">Connect Guests to Events.</h2>
                        <p>With all events and contacts created, it is very simple make appointments to an event, and issue invitations for all guests.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
