<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
       <h3>Confirmation Page</h3>
       <hr>
    </div>
      <div class="col-xs-12 col-sm-9">
        <div class="form-group">
            <label for="eventname" class="col-sm-2 control-label">Event: {{eventname}}</label>
        </div>
        <div class="form-group">
            <label for="eventStartDate" class="col-sm-2 control-label">Event Start Date: {{eventStartDate}}</label>
        </div>
        <div class="form-group">
            <label for="eventname" class="col-sm-2 control-label">Event End Date: {{eventEndDate}}</label>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Description: {{eventdescription}}</label>
        </div>
        <div class="form-group">
            <label for="hostname" class="col-sm-2 control-label">Host Name: {{hostname}}</label>
        </div>
        <div class="form-group">
            <label for="hostname" class="col-sm-2 control-label">Host Tel: {{hosttel}}</label>
        </div>
        <div class="form-group">
            <label for="hostname" class="col-sm-2 control-label">Host Email: {{hostEmail}}</label>
        </div>

        <div class="form-group">
            <label for="contactName" class="col-sm-2 control-label">Guest Bar Code{{guestbarcode}}</label>
            <hr>
        </div>
      </div>
  </div>
</div>
